extends layout.pug
include mixins/post.pug

block content
    each post in posts
        +post(post)
    else
        p No post found for this query.
    if moreRecentPostsLink || olderPostsLink
        nav
            ul
                if moreRecentPostsLink
                    li
                        a(href=moreRecentPostsLink) More recent posts
                if olderPostsLink
                    li
                        a(href=olderPostsLink) Older posts
