extends layout.pug
include mixins/post.pug

block content
    each post in posts
        +post(post, true)
        if disqusId
            a.comment-count(href=baseUrl+'/posts/'+post.id+'#disqus_thread')
    else
        p No post found for this query.
    if moreRecentPostsLink || olderPostsLink
        nav.pagination
            ul
                if moreRecentPostsLink
                    li
                        a(href=moreRecentPostsLink) « More recent posts
                if olderPostsLink
                    li
                        a(href=olderPostsLink) Older posts »
    if disqusId
        script#dsq-count-scr(src='//' + disqusId + '.disqus.com/count.js',async)
