
mixin post(post)
    article
        header
            h2
                a(href='/posts/'+post.id)= post.title
            .infos
                time(datetime=post.date.toISOString())= post.date.fromNow()
        .content !{post.htmlContent}
