
mixin post(post)
    article
        header
            h2
                a(href='/posts/'+post.id)= post.title
            time(datetime=post.date.toISOString())= post.date.fromNow()
        div !{post.htmlContent}
