@import (inline) '../../../node_modules/normalize.css/normalize.css';
@import (inline) '../../../node_modules/highlight.js/styles/default.css';

body {
    width: ~'calc(100% - 20px)';
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    font-size: 21px;
}

@import 'post.less';
